<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
  </head>

  <body style='margin:0;font-family:arial'>
    <table style='border:0;width:100%'>
      <tr>
        <td>Mã xác nhận tài khoản của bạn là<span style='font-weight:bold'> {{otp}}</span>.</td>
      </tr>
      <tr>
        <td>Mã này sẽ hết hạn sau <span style='font-weight:bold'> {{exp}} phút</span>, vui lòng không tiết lộ mã này cho bất kỳ ai. Chúc bạn một ngày tốt lành. </td>
      </tr>
    </table>
  </body>

</html>